# Ignore virtual environment
env/
venv/
.env
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Ignore IDE files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore all CSV files
data/*.csv

# Allow zipped versions to be tracked
!data/Valid.zip
!data/Train.zip
!data/TrainAndValid.zip